/* style.css */

/* GLOBAL CONFIG */
body {
    background-color: #1D2B53;
    color: #FFFFFF;
    font-family: 'Segoe UI', sans-serif;
}

/* somente esses dois botões */
.stDownloadButtonDownload_percentil button,
.stDownloadButtonDownload_responses button {
    background-color: #2196F3  !important;
    color: #FFFFFF !important;
    border-radius: 8px !important;
    padding: 0.6em 1.2em !important;
    border: none !important;
    font-weight: bold !important;
    transition: background 0.3s ease !important;
}

/* hover */
.stDownloadButtonDownload_percentil button:hover,
.stDownloadButtonDownload_responses button:hover {
    background-color: #3AB6FF !important;
    transform: scale(1.02) !important;
}

/* CUSTOM BUTTONS */
button {
    background-color: #2196F3  !important;
    color: #FFFFFF !important;
    border-radius: 8px !important;
    padding: 0.6em 1.2em;
    border: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #3AB6FF !important;
    transform: scale(1.02) !important;
}

/* ==========================================================
   EXPANDER / BOTÕES
   ========================================================== */

[data-testid="stExpander"] button {
      background-color: #2196F3 !important;
      color: #FFFFFF !important;
      border-radius: 8px !important;
      padding: 0.6em 1.2em;
      border: none;
      font-weight: bold;
      transition: background 0.3s ease;
  }

/* HOVER */
[data-testid="stExpander"] button:hover {   
      background-color: #3AB6FF  !important;
      transform: scale(1.02) !important;
  }
